#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>
#include <dt-bindings/zmk/bt.h>

/ {
  behaviors {
    tap_dance_pairing: behavior_tap_dance {
      compatible = "zmk,behavior-tap-dance";
      #binding-cells = <0>;
      tapping-term-ms = <200>;
      bindings = <&kp 1>, <&bt BT_SEL 0>;
    };
  };

  keymap {
    compatible = "zmk,keymap";

    default_layer {
      // -------------------------------------
      // |     1     |     2     |     3     |
      // |     4     |     5     |     6     |
      // |     7     |     8     |     9     |
      bindings = <
        &tap_dance_pairing &kp 2 &kp 3
        &kp 4 &kp 5 &kp 6
        &kp 7 &kp 8 &kp 9
      >;
    };
  };
};